.team {
  --forground: var(--clr-dark-grey);
  max-width: 70rem;
  margin-inline: auto;
  padding: 1rem;
  color: hsl(var(--forground));
  text-align: center;
}

.team__heading {
  margin-top: 0.75rem;
  font-size: 2.25rem;
  font-weight: 700;
}

.team__description {
  max-width: 60ch;
  margin: 1rem auto 2rem;
  color: hsl(var(--forground) / 0.7);
  line-height: 2;
}

.team__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: var(--gap);
}

@media screen and (min-width: 45rem) {
  .team__gallery {
    gap: calc(var(--gap) * 2);
  }
}
